PORT=3000
REDAPTCHA_ENV= #leave empty for dev, but necessary in production

# for this, run openssl rand -base64 32 on your host machine
REDAPTCHA_TOKEN_KEY=
REDAPTCHA_CHALLENGE_KEY=

REDAPTCHA_MODULUS_HEX=

# set if you only want to allow certain sites, format: <site_key>:<secret>:<allowed_hosts(seprated by |)>
REDAPTCHA_SITES=rk_live_demo:change_this_secret:example.com|www.example.com

# optional, required in dev for telementry
REDIS_URL=